<!-- ---------------------------------------------------------------------------
superpartial.ejs
by Filipe Mendes Mariz (301255800)
2023-09-27

Taken from BOOTSTRAP.COM https://getbootstrap.com/docs/5.3/components/navs-tabs/#tabs-with-dropdowns
----------------------------------------------------------------------------- -->
<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="about">About Me</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" 
      data-bs-toggle="dropdown"  role="button" aria-expanded="false">My Projects</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="projectgame">Game Projects</a></li>
        <li><a class="dropdown-item" href="projectweb">Web Projects</a></li>
        <li><a class="dropdown-item" href="projectmobile">Mobile Projects</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="services">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contact">Contact Me</a>
    </li>
  </ul>