     /*
app.css
by Filipe Mendes Mariz (301255800)
2023-09-30*/
     
     :root{
            --bgDark: #1A1A1A;
            --bgMid: #333333;
            --bgLight: #555555;
            /*- Text/Accent -*/
            --acDark: #00418b;
            --acMid:#0077B3;
            --acLight: #00BFFF;
            /*- HLights -*/
            --hlDark: #663300;
            --hlDark1: #663300;
            --hlMid: #996600;
            --hlLight: #CC8800;
            --hlLight1: #FFAA00;
        }
        /* Add background color to the navbar */
        .navbar {
            background-color: var(--bgMid) !important;
        }

        body {
            background-color: var(--bgDark);
            padding-left:0% 2%;
        }

        content{
            text-align: center;
        }

        .jumbotron{
            background-color: var(--bgLight);
        }


        /* Space out the navbar items and remove the bullet points */
        ul.navbar-nav {
            list-style: none;
            display: flex;
            gap: 20px; /* Adjust the spacing between navbar items */
            justify-content: flex-end; /* Align items to the right */
            font-size: 20px;
        }

        h1{
            color: var(--hlLight1);
        }

        .h2{
            color: var(--hlLight);
        }

        .lead{
            color: var(--hlLight);
        }

        
        html, body {
            color: var(--acLight);
            height: 100%;
            margin: 0;
        }
        body {
            display: flex;
            flex-direction: column;
            background-color: var(--bgDark) !important;
        }
        main {
            flex: 1;
        }
        footer {
            color:var(--bgMid);
            padding: 10px;
        }
        footer .navbar-text {
            margin-bottom: 0;
        }
   