     /*
app.css
by Filipe Mendes Mariz (301255800)
2023-09-30*/
     
     :root{
            --bgDark: #1A1A1A;
            --bgMid: #333333;
            --bgLight: #555555;
            /*- Text/Accent -*/
            --acDark: #00418b;
            --acMid:#0077B3;
            --acLight: #00BFFF;
            /*- HLights -*/
            --hlDark: #663300;  
            --hlDark1: #996600;
            --hlMid: #CC8800;
            --hlLight: #FFD700;
            --hlLight1: #FFAA00;
        }
        /* Add background color to the navbar */
        .navbar {
            background-color: var(--bgMid) !important;
        }

        body {
            background-color: var(--bgDark);
            padding-left:0% 2%;
        }

        header{
            width: 100%
        }

        content{
            text-align: center;
        }

        .container-rounded{
                border-radius: 10px;
                background: #333333;
        }
        
        img{
            border-radius: 10px;
        }

        .jumbotron{
            margin: auto;
            margin-bottom: 10px;
        }


        /* Space out the navbar items and remove the bullet points */
        ul.navbar-nav {
            list-style: none;
            display: flex;
            color: #00BFFF;
            gap: 30px; /* Adjust the spacing between navbar items */
            justify-content: flex-end; /* Align items to the right */
            font-size: 20px;
        }

        .nav-pills{
            margin: auto;
            margin-bottom: 10px;
            background-color: var(--bgMid);
            border-radius: 10px;
        }

        .active{
            color: #FFD700;
        }

        h1{
            color: var(--hlLight1);
        }

        .h2{
            color: var(--hlLight);
        }

        h2{
            color: var(--hlLight);
        }

        .lead{
            color: var(--hlLight);
        }

        h5{
            color: var(--hlDark);
        }


        h6{
            color: var(--hlDark);
        }
        
        html, body {
            color: var(--acLight);
            height: 100%;
            margin: 0;
        }
        body {
            display: flex;
            flex-direction: column;
            margin: 0px 0px 0px 0px;
            background-color: var(--bgDark) !important;
        }
        main {
            flex: 1;
        }
        footer {
            color:var(--bgMid);
            padding: 30px;
        }
        footer .navbar-text {
            margin: auto;
            color: var(--acLight);
            font-size: 14px;
            text-align: center;
        }



        .flex-container {
            display: flex;
            flex-wrap: nowrap;

          }
          
          .flex-container .box {
            width: 50%;
            margin: 10px;
            text-align: center;
            font-size: 30px;
          }

          #fadingright {
            mask-image: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%);
            -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%);
          }

          #fadingleft {
            mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%);
            -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%);
          }

            /* Style inputs with type="text", select elements and textareas */
        input[type=text],input[type=email],input[type=tel], select, textarea {
            width: 100%; /* Full width */
            padding: 12px; /* Some padding */ 
            border: 1px solid #ccc; /* Gray border */
            border-radius: 4px; /* Rounded borders */
            box-sizing: border-box; /* Make sure that padding and width stays in place */
            margin-top: 6px; /* Add a top margin */
            margin-bottom: 16px; /* Bottom margin */
            resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
        }
        
        /* Style the submit button with a specific background color etc */
        input[type=submit] {
            background-color: var(--hlMid);
            color: var(--bgMid);
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        
        /* When moving the mouse over the submit button, add a darker green color */
        input[type=submit]:hover {
            background-color: var(--hlLight);
        }
