<!-- ---------------------------------------------------------------------------
index.ejs
by Filipe Mendes Mariz (301255800)
2023-09-27
----------------------------------------------------------------------------- -->
<!DOCTYPE html>
<body>
    <%- include ('partials/header')%>
    <%- include ('partials/main_nav')%>
    <main class="container container-rounded">
        <div style="padding: 1% 2% !important;" class="jumbotron">
            <h1 class="display-4">Welcome!</h1>
            <p class="h2 text-center">
                To improve and use of my software developing skills to create innovative software and games that amaze and provide value to others, I hope to use what I learn and be able to create programs that bring color and life to the someone's worst moments.
            </p>
            <blockquote class="blockquote">
                <p class="mb-0"><br><br><br>
                    Hello! <br><br>
                    
                    My name is Filipe Mendes Mariz, I am a computer science bachelor and aspiring game developer. This website serves as a way for me to show my projects and accomplishments, and hopefully convince you that I am a good fit for your company or tempt you to hire one of my services. Read more about me <a href="about">here</a>!</p>
              </blockquote>
        </div>
    </main>
    <footer>
        <%- include ('partials/footer')%>
    </footer>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
