<!-- ---------------------------------------------------------------------------
project.ejs
by Filipe Mendes Mariz (301255800)
2023-09-27
----------------------------------------------------------------------------- -->
<!DOCTYPE html>
<body>
    <%- include ('partials/header')%>
    <%- include ('partials/main_nav')%>
    <main class="container">
        <div class="flex-container">
            <div class="box"><img src="img/exampleWeb.png" 
                alt="photo" 
                style=" height: 512px; object-fit: cover !important"
                ></div>
                <div class="box"><h1>Fricon Brasil</h1><br><br>Created while I worked under i2Mobile. I've done all programming of the front-end of this project. The UX/UI was designed by someone else within the company, however.</div>
        </div>
    </main>
    <footer>
        <%- include ('partials/footer')%>
    </footer>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
