<!-- ---------------------------------------------------------------------------
project.ejs
by Filipe Mendes Mariz (301255800)
2023-09-27
----------------------------------------------------------------------------- -->
<!DOCTYPE html>
<body>
    <%- include ('partials/header')%>
    <%- include ('partials/main_nav')%>
    <footer>
        <%- include ('partials/footer')%>
    </footer>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
