<!-- ---------------------------------------------------------------------------
services.ejs
by Filipe Mendes Mariz (301255800)
2023-09-27
----------------------------------------------------------------------------- -->
<!DOCTYPE html>
<body>
    <%- include ('partials/header')%>
    
    <%- include ('partials/main_nav')%>
    <main class="container container-rounded">

    <div class="flex-container">
        <div class="box"><img id="fadingright" src="img/genprogramming.jpg"
            alt="photo" 
            style="width:90% ; object-fit: cover !important"
            ></div>
        <div class="box"><h1>General Programming</h1><br><br>Able to create with languages such as C#, C++, Python, Java and Javascript.<br><br><h5 style="text-align: center;">Image taken from Wikipedia</h5> </h5></h6></div>
      </div>
      <div class="flex-container">
        <div class="box"><h1>Game Programming</h1><br><br>Creation of games through Unity engine, both 2D and 3D.<br><br><h5 style="text-align: center;">Image taken from itp.usc.edu</h5> </h5></h6></div>
        <div class="box"><img id="fadingleft" src="img/rebecca-oliver-483486-unsplash.jpg"
            alt="photo" 
            style="width:90% ; object-fit: cover !important"
            ></div>
      </div>
      <div class="flex-container">
        <div class="box"><img id="fadingright" src="img/business-needs-mobile-app-image.jpg"
            alt="photo" 
            style=" width:90%; object-fit: cover !important"
            ></div>
            <div class="box"><h1>Mobile Programming</h1><br><br>Creation of mobile applications both for iOS and Android.<br><br><h5 style="text-align: center;">Image taken from technology-solved.com</h5> </h5></h6></div>
      </div>
    </main>

    <footer>
        <%- include ('partials/footer')%>
    </footer>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
